{# {% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if error %}
 <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div> 
 {% endif %} 
 <form action="{{ path('app_login') }}" method="post">
  <label for="username">Email:</label> <input type="text" id="username" name="_username" value="{{ last_username }}"> 
  <label for="password">Password:</label> <input type="password" id="password" name="_password"> 
  {# If you want to control the URL the user is redirected to on success 
  <input type="hidden" name="_target_path" value="/account"> #} 
  {# <button type="submit">login</button> <br>
  </form> 
  <span>¿No tienes cuenta? Registráte aquí: </span>
  <a href="/register"> Registrarse en MySpotify</a>
  {% endblock %} #}

  <!DOCTYPE html> 
<html lang="es"> 
<head> 
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ asset('./style.css')}}">
  <title>MySpotify</title> 
  </head> 
  {%block body%}
  <body> 
    <nav>
        <img src="{{ asset('./img/logo.png') }}" alt="icono" id="icono">
        <a href="/main" target="_blank">
        <h1>MySpotify</h1>
        </a>
         <div class="busqueda">
            <input type="text" id="songName" placeholder="¿Qué canción buscas?" /> 
            <button id="buscarCancion">Buscar</button>
        </div>
        <a href="/login" target="_blank">
            <img src="{{ asset('./img/user.png')}}" alt="imagen_usuario" id="img_login">
        </a>
    </nav>

    <nav class="barra_lateral">
        <ul>
            <li><a onclick="mostrar_canciones()">Canción</a></li>
            <li><a onclick="mostrar_playlist()">Playlist</a></li>
        </ul>
    </nav>

<div id="contenido_body" class="inline-container">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1 style="color:white;">Login</h1>
{% if error %}
 <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div> 
 {% endif %} 
 <form action="{{ path('app_login') }}" method="post">
  <label for="username">Email:</label> <input type="text" id="username" name="_username" value="{{ last_username }}"> 
  <label for="password">Password:</label> <input type="password" id="password" name="_password"> 
  {# If you want to control the URL the user is redirected to on success 
  <input type="hidden" name="_target_path" value="/account"> #} 
  <button type="submit">login</button> <br>
  </form> 
</div> <br><br>
<div id="link_registro">
  <span style="color: white; margin-left: 5cm;">¿No tienes cuenta? Registráte aquí: </span>
  <a style="color: white;" href="/register"> Registrarse en MySpotify</a>
 </div>
   <footer>2025 MySpotify. - Todos los derechos reservados</footer>
   <script src="{{ asset('./script.js')}}"></script>
         {% endblock %}
         </body> 
          </html>