<!DOCTYPE html> 
<html lang="es"> 
<head> 
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('./style.css')}}">
  <title>MySpotify</title> 
  </head> 
  {%block body%}
  <body> 
    <nav>
        <img src="{{ asset('./img/logo.png') }}" alt="icono" id="icono">
        <a href="/main" target="_blank">
        <h1>MySpotify</h1>
        </a>
        <div class="busqueda">
            <input type="text" id="songName" placeholder="¿Qué canción o playlist buscas?" /> 
            <button id="buscarCancion" class="btn btn-info">Buscar</button>
        </div>
        <a href="/login" target="_blank">
            <img src="{{ asset('./img/user.png')}}" alt="imagen_usuario" id="img_login">
        </a>
        <a href="/admin" class="btn btn-primary btn-separado">Admin</a>
        <a href="/manager" class="btn btn-primary btn-separado">Manager</a>

    </nav>

    <nav class="barra_lateral">
        <ul>
            <li><a onclick="mostrar_canciones()">Canción</a></li>
            <li><a onclick="mostrar_playlist()">Playlist</a></li>
            <li><a href="user/crear_playlist">Crear Playlist</a></li>
            <li><a onclick="mostrar_mis_playlist()">Mis Playlists</a></li>
        </ul>
    </nav> 

<div id="contenido_body">
<h2>Canciones</h2>
    <div class="row grid-canciones"> 
    {%for cancion in canciones%}
    <div class="col-md-2 col-sm-6 col-12">
    <div id="bucle_canciones" class="VistaCancion" onclick="ReproducirMusica('{{ cancion.titulo |e('js')}}')">
    <img src="{{ asset('./img/corchea.gif')}}" alt="img_musica" id="img_corchea">
    <h4>{{cancion.titulo}}</h4>
    <h5>{{cancion.autor}}</h5>
    <br>
   </div> 
   </div>
   {%else%}
   <span>No tienes canciones en tu biblioteca</span>
   {%endfor%}
    </div>
     <h2>Playlists</h2>
     <div class="row grid-playlists">
    {%for playlist in playlists%}
    <div class="col-md-2 col-sm-6 col-12">
        <div class="VistaPlaylist" onclick="mostrar_canciones_playlist('{{playlist.nombre}}')">
        <img src="{{ asset('./img/playlist.jpg')}}" alt="playlist" id="img_playlist">
            <h4>{{ playlist.nombre }}</h4>
            <h5>Likes: {{ playlist.likes }}</h5>
        </div>
        </div>
    {%else%}
   <span>No tienes playlists en tu biblioteca</span>
    {%endfor%}
</div>
</div>
   <audio id="audioPlayer" controls style="display: none; margin-top: 20px;"> 
   Tu navegador no soporta el elemento de audio. </audio>
</div>
   <footer>2025 MySpotify. - Todos los derechos reservados</footer>
   {# <script src="{{ asset('./script.js')}}"></script> #}

   <script>
    function ReproducirMusica(titulo) {
  console.log("Título de la canción", titulo);
  if (!titulo) {
    alert("Por favor, ingresa el nombre de la canción.");
    return;
  }
  const audioPlayer = document.getElementById("audioPlayer");
  if (!audioPlayer) {
    alert("Audio Player no encontrado");
    return;
  }
  audioPlayer.style.display = "block";
  //Aquí se hace la llamada al Controller
  const url = `./user/cancion/${encodeURIComponent(titulo)}`;
  //const url = `{{ path('play_music', {'tituloCancion': '__titulo__'}) }}`.replace('__titulo__', encodeURIComponent(titulo));;
  audioPlayer.src = url;

  audioPlayer.play().catch((err) => {
    console.error("Error al reproducir la canción:", err);
    alert(
      "No se pudo reproducir la canción. Asegúrate de que el archivo existe."
    );
  });
}
async function mostrar_playlist() {
  console.log("prueba");
  let div = document.querySelector("#contenido_body");
  let query = await fetch(`/user/playlist`);
  let playlists = await query.json();

  div.innerHTML = `<h2>Playlists</h2>`;
  //onclick="cargarPlaylist('${playlist.id}')"
  let grid = document.createElement("div");
  grid.classList.add("row", "grid-playlist");
  for (let playlist of playlists) {
    let playlistHTML = `
          <div class="col-md-2 col-sm-6 col-12">
            <div class="VistaPlaylist" >
            <img src="./img/playlist.jpg" alt="playlist" id="img_playlist" onclick="mostrar_canciones_playlist('${playlist.nombre}')">
                <h4>${playlist.nombre}</h4>
                <h5>Likes: ${playlist.likes}</h5>
                </div>
                </div>
                </div>`;
    grid.innerHTML += playlistHTML;
  }
  div.appendChild(grid);
}

async function mostrar_canciones() {
  console.log("prueba 2");
  let div = document.querySelector("#contenido_body");
  let query = await fetch(`/user/cancionesJSON`);
  let canciones = await query.json();
  div.innerHTML = `<h2>Canciones</h2>`;
  //onclick="cargarPlaylist('${playlist.id}')"
  let grid = document.createElement("div");
  grid.classList.add("row", "grid-cancion");
  for (let cancion of canciones) {
    let cancionHTML = `
          <div class="col-md-2 col-sm-6 col-12">
                <div class="VistaCancion" onclick="ReproducirMusica('${cancion.titulo}')">
                <img src="./img/corchea.gif" alt="musica" id="img_corchea">
                    <h4>${cancion.titulo}</h4>
                    <h5>${cancion.autor}</h5>
                </div>
                </div>
                </div>`;
    grid.innerHTML += cancionHTML;
  }
  div.appendChild(grid);
  div.innerHTML += `
        <audio id="audioPlayer" controls style="display: block; margin-top: 20px;"> 
        Tu navegador no soporta el elemento de audio. </audio>`;
}
async function mostrar_canciones_playlist(tituloPlaylist) {
  console.log("prueba 3");
  let div = document.querySelector("#contenido_body");
  let query = await fetch(
    `/user/CancionesPlaylist/${encodeURIComponent(tituloPlaylist)}`
  );
  let canciones = await query.json();
  div.innerHTML = `<h2>Las canciones de tu playlist</h2>`;
  //onclick="cargarPlaylist('${playlist.id}')"
  let grid = document.createElement("div");
  grid.classList.add("row", "grid-cancion");
  for (let cancion of canciones) {
    let cancionHTML = `
          <div class="col-md-2 col-sm-6 col-12">
            <div class="VistaCancion" onclick="ReproducirMusica('${cancion.titulo}')">
            <img src="./img/corchea.gif" alt="musica" id="img_corchea">
                <h4>${cancion.titulo}</h4>
                <h5>${cancion.autor}</h5>
            </div>
            </div>
                </div>`;
    grid.innerHTML += cancionHTML;
  }
  div.appendChild(grid);
  div.innerHTML += `
    <audio id="audioPlayer" controls style="display: block; margin-top: 20px;"> 
    Tu navegador no soporta el elemento de audio. </audio>`;
}
// document.addEventListener("DOMContentLoaded", function() {
//     let btn_buscar = document.querySelector("#buscarCancion");
//     btn_buscar.addEventListener('click', buscarCancionXNombre);
// });
let btn_buscar = document.querySelector("#buscarCancion");
btn_buscar.addEventListener("click", buscarCancionesYplaylist);

async function buscarCancionesYplaylist() {
  console.log("Buscando canciones y playlists...");
  let titulo = document.querySelector("#songName").value.trim();
  if (!titulo) {
    alert("Por favor, ingresa el nombre de una canción");
  }
  let div = document.querySelector("#contenido_body");
  div.innerHTML = `<h2>Resultados de tu búsqueda</h2>`;
  //Buscar Canciones
  try {
    let queryCanciones = await fetch(
      `/user/buscarCancion/${encodeURIComponent(titulo)}`
    );
    let canciones = await queryCanciones.json();
    //onclick="cargarPlaylist('${playlist.id}')"
    if (Array.isArray(canciones) && canciones.length > 0) {
      for (let cancion of canciones) {
        div.innerHTML += `
                    <div class="VistaCancion" onclick="ReproducirMusica('${cancion.titulo}')">
                    <img src="./img/corchea.gif" alt="musica" id="img_corchea">
                        <h4>${cancion.titulo}</h4>
                        <h5>${cancion.autor}</h5>
                    </div>`;
      }
    } else {
      div.innerHTML += `<p>No se encontraron canciones</p>`;
    }
  } catch (error) {
    console.error(error);
    div.innerHTML += `<p>Error al buscar canciones</p>`;
  }
  //Buscar Playlist
  try {
    let queryPlaylist = await fetch(
      `user/buscarPlaylist/${encodeURIComponent(titulo)}`
    );
    let playlists = await queryPlaylist.json();
    //onclick="cargarPlaylist('${playlist.id}')"
    if (Array.isArray(playlists) && playlists.length > 0) {
      for (let playlist of playlists) {
        div.innerHTML += `
                    <div class="VistaPlaylist" onclick="mostrar_canciones_playlist('${playlist.nombre}')">
                    <img src="./img/playlist.jpg" alt="musica" id="img_corchea">
                        <h4>${playlist.nombre}</h4>
                        <h5>${playlist.likes}</h5>
                    </div>`;
      }
    } else {
      div.innerHTML += `<p>No se encontraron playlists</p>`;
    }
  } catch {
    console.error(error);
    div.innerHTML += `<p>Error al buscar canciones</p>`;
  }
  div.innerHTML += `
    <audio id="audioPlayer" controls style="display: block; margin-top: 20px;"> 
    Tu navegador no soporta el elemento de audio. </audio>`;
}

async function mostrar_mis_playlist() {
  let div = document.querySelector("#contenido_body");
  div.innerHTML = `<h2>Mis Playlists</h2>`;

  try {
    let response = await fetch("/user/mis_playlists");
    if (!response.ok) throw new Error("Error al obtener playlists");

    let data = await response.json();

    let grid = document.createElement("div");
    grid.classList.add("row", "grid-playlist");

    data.mis_playlists.forEach(playlist => {
      let playlistHTML = `
        <div class="col-md-2 col-sm-6 col-12">
          <div class="VistaPlaylist">
            <img src="./img/playlist.jpg" alt="playlist" id="img_playlist" onclick="mostrar_canciones_playlist('${playlist.nombre}')">
            <h4>${playlist.nombre}</h4>
            <h5>Likes: ${playlist.likes}</h5>
          </div>
        </div>`;
      grid.innerHTML += playlistHTML;
    });

    div.appendChild(grid);
  } catch (error) {
    console.error(error);
    div.innerHTML += `<p>Error al cargar playlists.</p>`;
  }
}
   </script>
         {% endblock %}
         </body> 
          </html>