{# {% extends 'base.html.twig' %} #}
!DOCTYPE html> 
<html lang="es"> 
<head> 
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('./style.css')}}">
  <title>MySpotify</title> 
  </head> 
  {% block body %}
  <body> 
    <nav>
        <img src="{{ asset('./img/logo.png') }}" alt="icono" id="icono">
        <a href="/main" target="_blank">
        <h1>MySpotify</h1>
        </a>
        <div class="busqueda">
            <input type="text" id="songName" placeholder="¿Qué canción o playlist buscas?" /> 
            <button id="buscarCancion" class="btn btn-info">Buscar</button>
        </div>
        <a href="/login" target="_blank">
            <img src="{{ asset('./img/user.png')}}" alt="imagen_usuario" id="img_login">
        </a>
        <a href="/admin" class="btn btn-primary btn-separado">Admin</a>
        <a href="/manager" class="btn btn-primary btn-separado">Manager</a>

    </nav>

    <nav class="barra_lateral">
        <ul>
            <li><a onclick="mostrar_canciones()">Canción</a></li>
            <li><a onclick="mostrar_playlist()">Playlist</a></li>
            <li><a href="user/crear_playlist">Crear Playlist</a></li>
            <li><a onclick="mostrar_mis_playlist()">Mis Playlists</a></li>
        </ul>
    </nav> 

<div id="contenido_body">
    <h2 id="titulo_crear">Crear Nueva Playlist</h2>
    {{ form_start(form, {'attr': {'id': 'crear-playlist-form'}}) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.visibilidad) }}
        <label for="canciones">Selecciona Canciones:</label><br>
            {% for cancion in canciones %}
            <input type="checkbox" id="cancion_{{cancion.id}}" name="canciones[]" value="{{cancion.id}}">
            <label for="cancion_{{ cancion.id}}">{{cancion.titulo}} - {{cancion.autor}}</label><br>
            {% endfor %}
        <br>
        <button type="submit">Guardar Playlist</button>
    {{ form_end(form) }}
</div>
   <footer>2025 MySpotify. - Todos los derechos reservados</footer>
<script src="{{ asset('./script.js')}}"></script>
{# templates/playlist/crear.html.twig #}
 {% endblock %}
         </body> 
          </html>

